{%- if section.settings.password_background_image != blank -%}
  {%- capture background_image_url -%}{{ section.settings.password_background_image | img_url: '1600x1400' }}{%- endcapture -%}
{%- else -%}
  {%- capture background_image_url -%}{{ 'password-page-background.jpg' | asset_img_url: '1600x1400', format: 'pjpg' }}{%- endcapture -%}
{%- endif -%}

<style>
  .header {padding: 0}
  .password__overlay {background-size: 99%;}
  @media screen and (min-width: 767px){
  	.password__title {font-size: 1.5em}
    .password__overlay {background-size: 70%;}
  }
</style>

<div class="password__overlay" style="background-image: url({{ background_image_url }}); background-position: bottom; background-repeat: no-repeat;"></div>

<div class="password">
  <section class="password__main">
    <h1 class="password__title">Hey Dawgs! We’re doing a little early Spring Cleaning. Sign up for our mailing list in the meantime and you’ll get a 30% discount code when we’re brand spankin’ fresh!</h1>

    {%- if shop.password_message != blank -%}
      <p class="password__message">{{ shop.password_message }}</p>
    {%- endif -%}

 
    {%- form 'customer', class: 'password__newsletter-form' -%}
      {%- if form.errors -%}
        <div class="alert alert--error">
          <span class="alert__title">{{ 'general.forms.errors' | t }}</span>
          {%- include 'form-errors' -%}
        </div>
      {%- endif -%}

      {%- if form.posted_successfully? -%}
        <div class="alert alert--success">
          <span class="alert__title">{{ 'password.newsletter.thank_you' | t }}</span>
        </div>
      {%- else -%}
        <input type="hidden" name="contact[tags]" value="prospect, password page">

        <div class="input-group" style="border: 3px solid black">
          <input class="input-group__field form__input" type="email" name="contact[email]" aria-label="{{ 'password.newsletter.input_placeholder' | t }}" placeholder="{{ 'password.newsletter.input_placeholder' | t }}" required="required">
          <input class="input-group__submit button button--primary" type="submit" name="commit" value="{{ 'password.newsletter.submit' | t }}" style="border:none">
        </div>
      {%- endif -%}
    {%- endform -%}
    <br />
     <p>for immediate help: <a href="mailto:info@rebeldawg.com">info@rebeldawg.com</a></p>
  </section>

</div>

<div class="remodal box box--mini modal modal--centered password-popup">
  <a href="#" class="modal__close" data-remodal-action="close">
    {%- include 'icon' with 'cross' -%}
  </a>

  <div class="box__content box__content--large-padding">
    <h3 class="modal__title h3">{{ 'password.form.title' | t }}</h3>
    <div class="modal__body">{{ 'password.form.subtitle' | t }}</div>

    {%- form 'storefront_password', class: 'modal__form' -%}
    <div class="input-group">
      <input class="input-group__field input-group__field--secondary form__input" type="password" name="password" autofocus aria-label="{{ 'password.form.input_placeholder' | t }}" placeholder="{{ 'password.form.input_placeholder' | t }}">
      <input type="submit" class="input-group__submit button button--secondary" value="{{ 'password.form.submit' | t }}">
    </div>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "Password",
  "class": "shopify-section__password",
  "settings": [
    {
      "type": "image_picker",
      "id": "password_background_image",
      "label": "Background image",
      "info": "1600 x 1400 px .jpg recommended"
    }
  ]
}
{% endschema %}